footer {
   min-height: 15vh;
   background: black;

   .footer-content {
      @include body_margin;
   }

   .social {
      padding: 2rem 0;
      @include flex;
      flex-wrap: wrap;

      a:hover::after {
         content: "";
         width: 100%;
         height: .1rem;
         background: white;
         position: absolute;
         bottom: -1rem;
         left: .4rem;
      }

      @include tablet {
         flex-direction: column;

         a {
            padding: 0 1rem;
         }
      }
   }

   .footer-about {
      padding: 0 0 2rem 0;
      @include flex;

      @include tablet {
         flex-direction: column;
      }
   }

   a {
      padding-left: .8rem;
   }

   .about-link:nth-child(1) {
      padding-left: 0;
   }

   a, p {
      position: relative;
      color: white;
      font-family: "Alata", sans-serif;
   }

   p {
      font-size: .8rem;
      color: #8c8c8c;
      padding: 1rem 0;
   }

   .footer-logo {
      padding-right: 1rem;

      @include tablet {
         margin: 2rem 0;
         padding: 0;
      }
   }

   .attribution {
      a {
         padding: 0;
      }
   }
}